.container {
  width: 100%;

  max-width: 1400px;

  margin: 0 auto;

  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 992px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 576px) {
  .container {
    padding-left: 18px;
    padding-right: 18px;
  }
}